.venv/
venv/
env/

__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.env.*

# Dados brutos e saídas auxiliares
data/raw/*
data/output/*

# Manter estrutura das pastas
!data/raw/.gitkeep
!data/output/.gitkeep

# Ignorar arquivos pesados/brutos
*.csv
*.zip

# Permitir Parquet tratados para deploy do dashboard
!data/
!data/processed/
data/processed/*
!data/processed/*.parquet
!data/processed/.gitkeep

.DS_Store
Thumbs.db
